<div class="panel panel-default">
  <div class="panel-body">
<form action="/addquestion" method="post">
<div class="row">
<div class="col-md-10">
Question:
<input type="text" class="form-control" name="title">
<br>
</div>
<div class="col-md-6">
   <label class="radio-inline">1) <input type="text" class="form-control" name="option1">
</div>
<div class="col-md-6">
   <label class="radio-inline">2) <input type="text" class="form-control" name="option2">
</div>
<div class="col-md-6">
   <label class="radio-inline">3) <input type="text" class="form-control" name="option3">
</div>
<div class="col-md-6">
   <label class="radio-inline">4) <input type="text" class="form-control" name="option4">
<br>
</div>

<br>
<div class="col-md-5">
Difficulty:
   <select class="form-control" name="difficulty">
     <option value="1">Easy</option>
     <option value="2">Medium</option>
     <option value="3">Hard</option>
   </select>
</div>
<div class="col-md-5">
   Answer: <input type="integer" class="form-control" name="answer">
</div>


  
</div>
<br>
  <button type="submit" class="btn btn-success">Add Question</button>
<br>
</form>
  </div>
  </div>
<% Question.all.order("id desc").each do |q| %>
<div class="panel panel-default">
  <div class="panel-body">
<div class="row">
<div class="col-md-12">

<h4><%= q.title %></h4>
</div>

<input type="hidden" name="question[<%= q.id %>]" value="5" />
<div class="col-md-6">
   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="1" disabled>1) <%= q.option1 %></label>
</div>
<div class="col-md-6">
   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="2" disabled>2) <%= q.option2 %></label>
</div>
<div class="col-md-6">
   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="3" disabled>3) <%= q.option3 %></label>
<br>

</div>
<div class="col-md-6">

   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="4" disabled>4) <%= q.option4 %></label>
<br>
</div>
<br>

<div class="col-md-3">
<br>

   <label class="radio-inline">Difficulty: <%= $DIF[q.difficulty.to_i] %>
</div>
<div class="col-md-3">
<br>

   <label class="radio-inline">Answer: <%= q.answer %>
</div>
  
</div>
</div>
</div>
<br>
<% end %>


