
<div class="container">

        <p><br/></p>
        <div class="row">
    
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="page-header text-center">
                        <h3>Student Login</h3>
                    </div>
                        <div class="alert alert-danger alert-dismissible fade in notice-alert" style="<%= 'display:none' unless @invalid.present? %>"role="alert"> Invalid Email/password<button type="button" class="close" onclick="$(this).closest('.alert').hide()"><span aria-hidden="true">×</span></button> 
                          <span id="alert-message">
                          </span>
                        </div>

                        <div class="alert alert-success alert-dismissible fade in notice-alert" style="<%= 'display:none' unless notice.present? %> "role="alert"><button type="button" class="close" onclick="$(this).closest('.alert').hide()"><span aria-hidden="true">×</span></button> 
                          <span id="alert-message">
                            <%= notice %>
                          </span>
                        </div>
                        <form role="form" action="./login" method="post">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">EMAIL</label>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" class="form-control LoNotSensitive" name="email" required placeholder="Enter email">
                                </div>
                            </div>
                            <input type="hidden" name="redirect_to" value="<%= @redirect_to %>"></input>
                            <div class="form-group">
                                    <label for="exampleInputPassword1">PASSWORD</label>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                                    <input type="password" class="form-control" name="password" required placeholder="Password">
                                </div>
                            </div>
                            <hr/>
                            <button id="loginButton" type="submit" class="btn btn-primary "><span class="glyphicon glyphicon-lock"></span> Login</button>
                            <a href="/signup"><button id="loginButton" type="button"  class="btn btn-primary "><span class="glyphicon glyphicon-lock"></span> Signup</button></a>
                            <p><br/></p>
                        </form>
                        <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <span class="glyphicon glyphicon-time">
                                            </span>Please Wait
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info
                                            progress-bar-striped active" style="width: 100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
