<h4> Test </h4>
<form action="/submittest" method="post">
  
<% @question.each do |q| %>
<div class="container">

<div class="row">
<div class="col-md-12">

<h4><%= q.title %></h4>
</div>

  <input type="hidden" name="question[<%= q.id %>]" value="5" />
<div class="col-md-6">
   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="1" ><%= q.option1 %></label>
</div>
<div class="col-md-6">
   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="2" ><%= q.option2 %></label>
</div>
<div class="col-md-6">
   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="3" ><%= q.option3 %></label>
</div>
<div class="col-md-6">
   <label class="radio-inline"><input type="radio" name="question[<%= q.id %>]" value="4" ><%= q.option4 %></label>
</div>
  
</div>
</div>
<br>
<% end %>
  <button type="submit" class="btn btn-success">Submit</button>

</form>
